.header {
    display: grid;
    grid-template-columns: 1fr 12fr;
    text-align: center;
    padding: 10px 0;
    height: 70px;
    font-size: xx-large;
}
.nav {
    font-size: x-large;
    padding: 15px;
}
.nav-logo-1 {
    text-align: left;
    font-size: x-large;
    padding: 15px ;
}

.grid-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    text-align: center;
    height: 510px;
    column-gap: 1em;
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    width: 80%;
    background-color: ivory;
}

.main-p {
    margin: 15px;
}

.vis-img {
    margin-bottom: 10px;
    align-content: center;
}

.container-attribute {
    display: center;
    text-align: center;
    height: 510px;
    column-gap: 1em;
}

.item-attribute {
    border: 1px solid rgba(0, 0, 0, 0.8);
    display: grid;
    grid-template-columns: 2fr 2fr;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    width: 70%;
    background-color: ivory;

}

.header-attribute {
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.item-visualizations {
    border: 1px solid rgba(0, 0, 0, 0.8);
    display: inline-flex;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    width: 95%;
    background-color: ivory;
    align-content: center;
}

.test {
    align-content: center;
    background-color: ivory;
}

.item-data {
    border: 1px solid rgba(0, 0, 0, 0.8);
    display: block;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    width: 90%;
    background-color: ivory;
}